* {
  font-family: 'Orbitron', sans-serif;
}

.calcWrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console {
  border: solid #e1e1e1 2px;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  background-color: white;
}

.ui {
  display: flex;
  flex-direction: column;
}

.display {
  margin: 1rem;
  border: solid #e1e1e1 2px;
  border-radius: 20px;
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 1rem 1rem;
  overflow: hidden;
}

.trackerDisplay {
  font-size: 14px;
  word-break: break-all;
  margin-bottom: 20px;
  color: orangered;
  display: flex;
  align-items: end;
  justify-content: end;
  text-align: end;
}

.mainDisplay {
  font-size: 30px;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}

.buttons {
  margin: 1rem;
  border-radius: 20px;
  height: 320px;
  background-color: white;
}

.buttons div {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  flex: 1;
  margin: 5px;
  background-color: #f1f1f1;
  height: 50px;
  border: none;
  border-radius: 100px;
  font-weight: 700px;
  transition: 0.4s;
}

button.zero {
  flex: 2.5;
}

.operator:hover {
  background-color: rgb(255, 85, 0);
  cursor: pointer;
}

.equalsButton:hover {
  background-color: rgb(255, 85, 0);
  cursor: pointer;
}

.top:hover {
  background-color: #b6b6b6;
  cursor: pointer;
}
.num:hover {
  background-color: rgb(169, 255, 241);
  cursor: pointer;
}

.decimal:hover {
  background-color: rgb(169, 255, 241);
  cursor: pointer;
}

footer {
  margin-top: 1rem;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gitLogo {
  margin-left: 8px;
}

.gitLogo:hover {
  scale: 1.2;
}
